<a href="https://colab.research.google.com/github/manideepvangari/Week1-Introduction_to_Python/blob/first/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introdution

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [ ]:
area = 200.30  #float type variable
Distance = 100 #integer type variabe
name = 'Sara' #string type variable

#print all values
print (area)
print(Distance)
print(name)

200.3
100
Sara

In [1]:
greeting = "Hello World!"
print(greeting)

Hello World!

Added example of printing a string variable called greeting with the outcome of "Hello World!".

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

In [ ]:
5 #integer

5

In [ ]:
10+10 #integer

20

In [ ]:
5.5+5.5 #float

11.0

In [ ]:
5**2 #exponent

25

In [2]:
4/2

2.0

Added example of a division statement with the outcome of 2.0.

## 2.3 Strings

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [ ]:
Course="Artificial Intelligence"
name='Sara'
print(name, Course)

Sara Artificial Intelligence

In [3]:
firstName = "Manideep"
lastName = "Vangari"
print(firstName, lastName)

Manideep Vangari

Added example of printing two string variables, called firstName and lastName with the outcome of "Manideep Vangari".

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [ ]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

stringVariable[0]: H
stringVariable[1:5]: ello

In [5]:
farewell = "Goodbye!"

print("farewell[1]:", farewell[1])
print("farewell[3:5]", farewell[3:5])

farewell[1]: o
farewell[3:5] db

Added example of slicing a newly created string variable called farewell.

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [ ]:
stringVariable ="Hello World "
stringVariable = stringVariable[:6]+"Python"


print ("updated string:",stringVariable)

updated string: Hello Python

In [6]:
farewell = "Goodbye!"
farewell = "Bye!"

print(farewell)

Bye!

Added example of updating the farewell string to hold the string "Bye!" instead of "Goodbye!".

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [ ]:
stringVariable ="Hello World "
print (stringVariable)
del stringVariable
print (stringVariable)

Hello World

NameError: ignored

In [8]:
greeting = "Hi"
print(greeting)

del greeting
print(greeting)

Hi

NameError: name 'greeting' is not defined

Added example of trying to print a string variable after deleting it. Results in error.

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [ ]:
stringvalue1="machine"
stringvalue2="learning"
print(stringvalue1+stringvalue2)

machinelearning

In [12]:
dancer = "Michael Jackson"
song = "Beat It"

print(dancer + " made the hit song: " + song + ".")

Michael Jackson made the hit song: Beat It.

Added example of concatening numerous strings together to form a sentence.

#### Repitition

 - '*' symbol is used for repitition.

In [ ]:
stringvalue="Assignment"
print(stringvalue*2)

AssignmentAssignment

In [13]:
repeat = "repeat"
print(repeat*6)

repeatrepeatrepeatrepeatrepeatrepeat

Added example of repeting a newly created variable 6 times.

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [14]:
Stringvalue="Machine Learning"
print(Stringvalue[1])

a

In [17]:
newString = "abcdefg"
print(newString[3])

d

Added example of printing the third index of the newly created string, newString.

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [ ]:
stringvalue="Hello"
print(stringvalue [1:3])

el

In [18]:
newString = "bang!"
print(newString[3:5])

g!

Added example of using the [:] symbol to print the 3rd and 4th indexes of the string variable newString.

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [ ]:
Stringvalue="Hello"
print('H' in Stringvalue)

True

In [21]:
newString = "sunny"
print('S' in newString)

False

Added example of using the in keyword to check if the 'S' character is in the newString variable.

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [20]:
Stringvalue="Hello"
print('G' not in Stringvalue)

True

In [22]:
newString = "dark"
print('D' not in newString)

True

Added example of using the not in keyword to check if the 'D' character is in the newString variable.

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [ ]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))

My name is Sara and weight is 21 kg!

In [24]:
print("%s you only weigh %d kg?" % ("Wow,", 21))

Wow, you only weigh 21 kg?

Added example of using the string formatting operator to create a new sentence.

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

In [ ]:
list1 = [ 'Mary', 2000 ]

print (list1) # Prints complete list

['Mary', 2000]

In [25]:
newList = ["dog" , "cat" , 2]

print(newList)

['dog', 'cat', 2]

Added example of creating a new list called newList.

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [ ]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]

In [30]:
newList = ["orange" , "apple" , "kiwi", 2]

print(newList[3])
print(newList[1:3])

2
['apple', 'kiwi']

Added example of printing out parts of a newly created list by using the [] and [:] operators.

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [ ]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)

list1.append('acer')
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']

In [31]:
newList = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
newList[2] = 'C';

print(newList)

['a', 'b', 'C', 'd', 'e', 'f', 'g']

Added example of changing the 3rd element in the newList list to a capitalized letter.

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [34]:
newList = [1, 2, 3]
print(newList)

del newList[0]
print(newList)

newList.remove(2)
print(newList)

[1, 2, 3]
[2, 3]
[3]

Added example of using the del and remove functionalities on a list called newList, resulting in the first two elements being removed.

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])

Sara

In [35]:
newDictionary = {'Name':"Mani" , "Department" : "SIAT", "Year":4}
print(newDictionary['Year'])

4

Added example of printing out the "Year" key value pair in the newly created dictionary.

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}

In [40]:
newDictionary = {'Color':'ash' , 'Consistancy' : 'Fluid'}
print(newDictionary)

newDictionary['Color']="black"
print(newDictionary)

{'Color': 'ash', 'Consistancy': 'Fluid'}
{'Color': 'black', 'Consistancy': 'Fluid'}

Added example of updating the first key value pair in a newly created dictionary.

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}

In [42]:
newDictionary = {'Animal':"owl", 'Country':"Russia"}
print(newDictionary)

del newDictionary['Country']
print(newDictionary)

{'Animal': 'owl', 'Country': 'Russia'}
{'Animal': 'owl'}

Added example of deleting the Country key value pair in the newly created dictionary.

In [43]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

{}

In [45]:
newDictionary = {'City':"Istanbul", 'Food':"Cake"}
print(newDictionary)
newDictionary.clear()
print(newDictionary)

{'City': 'Istanbul', 'Food': 'Cake'}
{}

Added example of creating a new dictionary, printing it, then clearing it, and printing the cleared dictionary.

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are  Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [ ]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])

('simon', 'sara', '20', 'saira40')
('sara', '20')

In [46]:
newTuple = ("jack", "bob", "bill")
print(newTuple)
print(newTuple[1])

('jack', 'bob', 'bill')
bob

Added example of printing out a newly created tuple, and using the [] operator the print out the 2nd element within the tuple.

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)

In [48]:
tuple1=('a','b','c')
tuple2=('d','e','f')
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

('a', 'b', 'c')
('d', 'e', 'f')
('a', 'b', 'c', 'd', 'e', 'f')

Added example of adding two tuples together to create a new tuple. Then, printed out the new tuple.

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
print(tuple1)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)

NameError: ignored

In [49]:
tuple1=('a','b','c')
print(tuple1)

del tuple1
print(tuple1)

('a', 'b', 'c')

NameError: name 'tuple1' is not defined

Added example of trying to print out a deleted tuple. Results in an error.

# 2.7 Sets

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len().

In [ ]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Hello"}

#adding a single value
my_set.add("D")

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
my_set.remove('G') #it will raise an error

<class 'list'>
<class 'set'>
{1, 2, 3}
{1, 2, 3, 'D', 4, 5, 'Hello'}

KeyError: ignored

In [58]:
my_set={"hello", "hi", "good day"}
print(my_set)

my_set.add("whats up")
print(my_set)

my_set.remove("hi")
print(my_set)

print(len(my_set))

{'hi', 'hello', 'good day'}
{'hi', 'hello', 'whats up', 'good day'}
{'hello', 'whats up', 'good day'}
3

Added example of using the add, remove, and len functions upon a set.

# 3.Comparison Operators

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [ ]:
10<17

True

In [59]:
17>10

True

Added an example of a number being greater than another.

### Less than equal to operator (<=)

In [ ]:
15<=10

In [60]:
2<=-2

False

Added example of using the less than or equal to operator to result in a false value.

### Equal to operatoe (==)

In [ ]:
16==16

True

In [ ]:
"Sara"=="sara"

False

In [ ]:
"ALI"=="ALI"

True

In [64]:
12 == 11

False

Added example of the equality operator resulting in a false value.

### Not equal to operator (!=)

In [ ]:
3!=5

True

In [65]:
100!=100

False

Added an example of using the inequality operator resulting in a false value.

### OR Operator

In [66]:
(10==10)or(10<17)

True

In [68]:
(3!=3)or(1<-10)

False

Added example of using the OR operator to result in a false value since both comparisons are false.

### And operator

In [ ]:
(10==10)and (10<17)

In [70]:
(3==3)and(1<-10)

False

Added example of using the AND operator to result in a false value since only one comparison is true, while the other is false.

# 4.If else statement

 - The ifelse is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action 1
  else :
          action 2
 - The indentation is required

In [ ]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

 sunday is wonderful

In [ ]:
if 25 % 2:
  print("Even")
else:
  print("Odd")

Even

In [73]:
name = "Johnny"

if(name == "John"):
  print("It's a match!")
else:
  print("Not a match.")

Not a match.

Added example of using an if else statement, resulting in the string: "Not a match." being printed.

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [ ]:
for i in [2 , 4 , 6 , 0]:
    print(i)

2
4
6
0

In [ ]:
for counter in range(1, 6):
    print (counter)

1
2
3
4
5

In [ ]:
word = "sara"
for letter in word:
    print (letter)

s
a
r
a

In [75]:
for  i in [1,10,100,1000,10000]:
  print(i)
  for j in ['a', 'b']:
    print(j)

1
a
b
10
a
b
100
a
b
1000
a
b
10000
a
b

Added example of a nested for loop.

### While loop

In [ ]:
a=0
while a < 10:
  a=a+1
  print(a)

1
2
3
4
5
6
7
8
9
10

In [78]:
i = 0
while i <100:
  i += 10
  print(i)

10
20
30
40
50
60
70
80
90
100

Added example of using a while loop that prints out values incremented by 10 starting from 10.

# 6.Functions

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [ ]:
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

Mary

In [81]:
def my_function(x):
  #This prints a passed string into this function
    y = ((x + 10)*3) / 4
    print(y)
    return;

#Now you can call my_function
my_function(6)

12.0

Added example of passing in an integer value to a function (UDF).

# 7.Lambda Functions

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you dont want to use a function twice in a program.

   some examples are given:

In [ ]:
#Normal Function
def f (x):
  return x**2
print (f(8))

64

In [ ]:
times3 = lambda var:var*3
times3(10)

#lamba expressions : another way to write a function in line

30

In [83]:
add = lambda x, y: x + y

print(add(3, 5))

8

In [82]:
subtract = lambda x, y: y - x

print(subtract(3, 5))

2

Added an example of using subtraction for a lambda function.

## 7.1 Map()

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [ ]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

list (lengths)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[2, 2, 7, 4, 3, 4]

In [89]:
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
print(words)

four_char_words = filter(lambda word: len(word) == 4, words)

four_char_words_list = list(four_char_words)
print(four_char_words_list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['over', 'lazy']

Added example using the map function to check for words that have exactly 4 characters in them.

## 7.2 Filter()

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [ ]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)

a
e
i
o

In [90]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [91]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [94]:
grade = [1, 2, 5, 9, 10]

def myFunc(x):
  if x < 10:
    return True
  else:
    return False

result = filter(myFunc, grade)

for x in result:
  print(x)

1
2
5
9

Added example that checks if a grade is less than 10 using the filter method.

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [98]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

What's your name? sd
Nice to meet you sd!

In [96]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

NameError: name 'raw_input' is not defined

In [97]:
string=raw_input("enter your university....")
print(string)

NameError: name 'raw_input' is not defined

In [99]:
repeat = input("Say something for me to repeat!")
print(repeat)

Say something for me to repeat!sd
sd

Added example where the user input is outputted back into the console.

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [100]:
file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

FileNotFoundError: [Errno 2] No such file or directory: 'hello.txt'

Opening a file ends up as an error, I'm not sure how to meaningfully add an example here.

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [101]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print "Read String is : ", str
# Close opend

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-101-0add7c216fdc>, line 4)

Opening a file ends up as an error, I'm not sure how to meaningfully add an example here.

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [102]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

This is the write commandIt allows us to write in a particular file

In [105]:
file = open('new.txt','w')
file.write("You're a wizard Harry!\n")
file.write("A wizard?\n")
file.write("Yes Harry you're a wizard!")
file = open('new.txt','r')
str=file.read()
print(str)
file.close()

You're a wizard Harry!
A wizard?
Yes Harry you're a wizard!

Added example of using the file write mode functionality to write and print few lines of Harry Potter.

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [106]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

This is the write commandIt allows us to write in a particular fileThis will add this line

In [107]:
file = open('test.txt','a')
file.write("Append is similar to read, in that the line pointer begins and the end of the file instead of the start")
file = open('test.txt','r')
str=file.read()
print(str)
file.close()

Append is similar to read, in that the line pointer begins and the end of the file instead of the start

Added example of using Append mode.

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [112]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

MSCS From comsats university

In [114]:
file = open('thought.txt','a+')
file.write("These modes all output what is written :p, not so useful in these examples :(")
file.close()
file = open('thought.txt','r')
str=file.read()
print(str)
file.close()

These modes all output what is written :p, not so useful in these examples :(

Added example of using append and read mode.

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [108]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'hello.txt'

Opening a file ends up as an error, I'm not sure how to meaningfully add an example here.

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data  an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data  load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using series method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [ ]:
import pandas as pd
s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
s

0                1
1           Lahore
2                2
3                3
4    Happy Eating!
dtype: object

In [116]:
import pandas as pd
relationshipNames = pd.Series(["baby", 'sweety', 'honey'])
relationshipNames

0      baby
1    sweety
2     honey
dtype: object

Added example of using the pandas series method.

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [ ]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [119]:
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

a   -1.702189
b   -0.610073
c   -1.981998
d   -1.250600
e   -0.027913
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [134]:
import numpy as np

data = {'Column1': np.random.randn(5), 'Column2': np.random.randn(5)}
s = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

print(s)
print('-' * 15)
print(s.index)

    Column1   Column2
a  0.707299  0.904833
b -0.629929 -0.942762
c  2.439687 -0.745215
d  0.262900  0.385795
e -1.208812 -0.223023
---------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

Added example to create a series from ndarray, with named columns.

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [ ]:
d = {'a': 100., 'b': 200., 'c': 300.}
pd.Series(d)

a    100.0
b    200.0
c    300.0
dtype: float64

In [ ]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
pd.Series(data)

abc    1
def    2
xyz    3
dtype: int64

In [135]:
data = {'shoe': "Nike", 'Store': "Walmart", 'Hotel': "Holiday Inn"}
pd.Series(data)

shoe            Nike
Store        Walmart
Hotel    Holiday Inn
dtype: object

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [ ]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

In [139]:
x = pd.Series(3, index=['a', 'b', 'c', 'd'])
x

a    3
b    3
c    3
d    3
dtype: int64

In [141]:
pd.Series(5/2, index = ['A', 'B', 'C'])

A    2.5
B    2.5
C    2.5
dtype: float64

Added example of creating series from scalar value.

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    0.045078
b    0.391752
c   -0.065646
d   -0.468091
e    0.070352
dtype: float64

In [143]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc([2,1,4]))

TypeError: unhashable type: 'list'

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

a   -0.227998
b    0.738016
c    1.740076
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

d    0.659163
c    0.038482
b    0.071420
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
np.exp(s)

a    0.353877
b    0.151906
c    4.624260
d    0.832004
e    1.734511
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']

-0.04321504853792073

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
s

a    -1.089450
b    12.000000
c    -0.415381
d    -1.272492
e    -0.096899
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'e' in s

True

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'f' in s

False

In [146]:
s = pd.Series(np.random.randn(5), index=['Doll', 'Ball', 'Cord', 'Lord', 'Price'])
print(s[1:3])

Ball   -0.216032
Cord    0.363588
dtype: float64

Added example of slicing series pd array.

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [149]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

{0: 1, 1: 2, 2: 3, 3: 4}

In [151]:
s = pd.Series(["no", "nope", "no way", "no no"])
s.to_dict()

{0: 'no', 1: 'nope', 2: 'no way', 3: 'no no'}

Added example using the to_dict function upon the series pd array.

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [152]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [153]:
data = ['saima', 'aisha', 'faiza', 'saira']
[s.capitalize() for s in data]

['Saima', 'Aisha', 'Faiza', 'Saira']

In [156]:
import numpy as np
x = np.array(["fanta" , "coke", "sprite", "mountain dew"])
result = np.array([drink + " is bad" for drink in x])
print(result)

['fanta is bad' 'coke is bad' 'sprite is bad' 'mountain dew is bad']

Added example of using for loop to add string text to each array element.

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [2]:
import pandas as pd
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
import pandas as pd
newDates = pd.date_range('19990814',periods=32)
newDates

DatetimeIndex(['1999-08-14', '1999-08-15', '1999-08-16', '1999-08-17',
               '1999-08-18', '1999-08-19', '1999-08-20', '1999-08-21',
               '1999-08-22', '1999-08-23', '1999-08-24', '1999-08-25',
               '1999-08-26', '1999-08-27', '1999-08-28', '1999-08-29',
               '1999-08-30', '1999-08-31', '1999-09-01', '1999-09-02',
               '1999-09-03', '1999-09-04', '1999-09-05', '1999-09-06',
               '1999-09-07', '1999-09-08', '1999-09-09', '1999-09-10',
               '1999-09-11', '1999-09-12', '1999-09-13', '1999-09-14'],
              dtype='datetime64[ns]', freq='D')

Added example of creating new dates dataframe.

## 11.1 Dataframe creation from dict of series or dicts

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [8]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3

In [17]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
 df = pd.DataFrame(data=d)
 df

   col1  col2
0     1     3
1     2     4

In [26]:
d = {'count': pd.Series([43,28,15], index = ['sphinx', 'ginger', 'siamese'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

         count
sphinx      43
ginger      28
siamese     15

Added example of creating a new dataframe table with only one column.

## 11.2  Dataframe creation from dict of ndarrays/lists

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [27]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [30]:
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
df2

   a  b  c  d  e
0  9  5  8  8  6
1  6  4  5  0  4
2  0  7  0  9  2
3  4  5  2  3  1
4  9  3  7  6  4

In [38]:
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.random.randint(low=3, high=8, size=(2, 4)), columns=['ball', 'bat', 'baseball', 'badminton'])
df2

   ball  bat  baseball  badminton
0     6    3         5          3
1     6    6         7          7

Added example of creating a new dataframe which contains the names of sports starting with the letter "b".

## 11.3 Dataframe creation from a list of dicts

In [ ]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [ ]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b   c
0  10  20  30
1   5  10  20

In [43]:
data = [{'a':1,"b":2},{'a':11,'b':22,'c':33},{'a':111,'b':222,'c':333,'d':444}]
pd.DataFrame(data)

     a    b      c      d
0    1    2    NaN    NaN
1   11   22   33.0    NaN
2  111  222  333.0  444.0

Added example of creating a dataframe from a list of dicts, where a digit is duplicated in eacg row.

## 11.4 Dataframe creation from a dict of tuples

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [44]:

df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
df

  Initial Sex  Age
0       C   M   49
1       A   F   39
2       M   F   19

In [45]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
df

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

In [51]:
data = [('cat', 'dog', 100, 200),('ca', 'do', 10, 20),('c', 'd', 1, 2),('', '', '' , '')]

df = pd.DataFrame(data)
df

     0    1    2    3
0  cat  dog  100  200
1   ca   do   10   20
2    c    d    1    2
3

Added example of creating dataframe using a tupled dictionary, where the last chracter or digit is removed in each subsequent row.

## 11.5 Alternate constructors

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [52]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

   a  b  c  d  e  f  g  h  i
X  1  2  3  0  0  0  0  0  0
Y  0  0  0  4  5  6  0  0  0
Z  0  0  0  0  0  0  7  8  9

In [63]:
data = {"A": {'cat': 1, 'dog': 2, 'rabbit': 3}, "B": {'cat': 4, 'dog': 5, 'rabbit': 6}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

   cat  dog  rabbit
A    1    2       3
B    4    5       6

Added example of creating a dataframe using the from_dict method, where the values in the subsequent row and column row is incremented by 3.

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [ ]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

In [67]:
sales = [('Cat', 11011, 211022, 311033),
     ('Dog', 200, 20, 2),
     ('Mouse', 123, 1234, 12345)]
labels = ['animal', '1st', '2nd', '3rd']
df = pd.DataFrame.from_records(sales, columns=labels)
df

  animal    1st     2nd     3rd
0    Cat  11011  211022  311033
1    Dog    200      20       2
2  Mouse    123    1234   12345

Added example of creating a dataframe from records, which each row has a unique pattern.

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [71]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])]

SyntaxError: incomplete input (<ipython-input-71-db703712a61e>, line 1)

In [73]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
df

AttributeError: type object 'DataFrame' has no attribute 'from_items'

Both the given examples result in an error, I'm not sure how to add an example here.

## 11.6 Column selection,addition,deletion

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
df

   a  a
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
df

   a  b
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
df

   a
0  1
1  3
2  5

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
df

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2

In [83]:
df = pd.DataFrame([[32,23],[65,54],[91,19]], columns=['reverse1', 'reverse2'])
df['cat'] = df['cat'] = ['sphinx', 'ginger', 'siamese']
df

   reverse1  reverse2      cat
0        32        23   sphinx
1        65        54   ginger
2        91        19  siamese

Added example of adding a new column with specific values to the dataframe object.

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

a   -0.079142
b   -1.058681
c   -0.288618
d    1.305291
e   -0.142134
f   -1.700362
g    1.181158
h    1.580676
Name: A, dtype: float64

In [84]:
import pandas as pd
import numpy as np

In [87]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a -1.899790  1.799311
b  0.877721  0.798760
c -0.884643 -0.765181
d -1.686411 -0.487314
e -1.672611 -0.258677
f -0.942347 -0.738334
g  1.852133  1.406999
h -0.953978  0.463168

In [85]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a -0.638670 -0.877156 -1.200238  0.563788
b -0.103078 -0.385185 -0.962946 -0.038763
c -1.075616  0.696720 -2.118218  1.278823
d -0.340653  2.060869  1.124165  0.697682
e -0.227337 -1.167160 -0.374268  0.833335
f -0.088114 -0.262711  0.011253 -0.177635
g -1.023634 -1.849626 -0.847926 -1.159818
h  0.511394  0.540155  1.569101  0.816570

In [91]:
df = pd.DataFrame(np.random.randn(6, 4),
index = ['corn','stick','hand','peanut','speaker','spoon'], columns = [1, 2, 3, 4])

print (df.loc[:,[2,1]])

                2         1
corn    -1.102706 -0.028513
stick   -0.736233  0.120882
hand     0.684295  0.109503
peanut   1.271066 -1.724386
speaker -0.282389  0.056146
spoon   -0.869127  0.874569

Added example of idexing using the loc method.

#### .iloc()

In [92]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0  1.769328 -0.461694 -0.829248  1.123554
1  0.638275 -0.289035 -1.447339  0.497762
2  0.640447 -1.478926  0.498584 -0.850222
3  1.077862  1.515056  0.066014  0.773027

In [96]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

          C         D
1 -0.218166  0.285497
2  0.083980  2.683537
3 -0.241769  0.700959
4  0.328125 -0.688091

In [108]:
df = pd.DataFrame(np.random.randn(12, 4), columns = ['Bring', 'it', 'on', 'baby!'])
print (df.iloc[1:5])
print (df.iloc[2:5 , 1:3])

      Bring        it        on     baby!
1 -1.524799  1.273236 -0.395288 -0.148636
2  0.274680 -1.702642  0.333134 -0.718167
3 -1.849977 -0.507250 -0.407040 -0.857141
4 -0.743535 -0.744226 -0.608167  1.114077
         it        on
2 -1.702642  0.333134
3 -0.507250 -0.407040
4 -0.744226 -0.608167

Added example of creating dataframe object with integer slicing using the iloc method.

#### .ix()

In [111]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [110]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'A'])

AttributeError: 'DataFrame' object has no attribute 'ix'

The ix method has been deprecated, and the given examples result in an error, I'm not sure how to add an example here.

## 11.8 Data alignment and arithmetic

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [ ]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df1

          A         B         C         D
0 -0.117700  0.788149  0.776948 -1.159620
1  0.604453 -0.487806  1.356927  0.008448
2 -0.886517  0.044949  0.023818  2.174181
3  0.567215  0.902368  0.135462 -0.051920
4 -0.574904  0.555554 -0.094674 -0.124867
5 -0.087198 -0.785484  0.527486  0.293056
6 -0.112861  1.120604 -0.933670 -0.232908
7  0.336940  0.108904 -0.295332 -2.991587
8 -2.031898  1.290700  1.013805  0.334444
9 -0.021450 -2.232018 -1.355943 -0.144558

In [118]:
df2 = pd.DataFrame(np.random.randn(12, 2), columns=['AA', 'BB'])
df2

          AA        BB
0   1.418428 -0.370695
1  -0.099957  1.450030
2   1.199321  1.473881
3  -1.264052 -0.342389
4   0.498209 -0.660123
5   0.695379  0.053991
6  -2.398682  0.497487
7  -0.020903 -1.097961
8   0.254697 -0.880780
9   0.267624 -0.242209
10 -0.534507 -0.998830
11  0.153900  1.200446

In [ ]:
df1+df2

          A         B         C   D
0 -1.794426 -0.380882  0.157008 NaN
1 -0.105636  1.346731  0.238002 NaN
2 -2.193027 -1.382245  1.915186 NaN
3  1.275037  2.540692 -0.872054 NaN
4 -0.022608 -1.817870 -1.231789 NaN
5 -0.006301 -1.253170  1.012196 NaN
6 -0.591600  0.601538 -0.875449 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [ ]:
df1 - df1.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.722153 -1.275955  0.579979  1.168068
2 -0.768817 -0.743200 -0.753129  3.333801
3  0.684915  0.114219 -0.641486  1.107699
4 -0.457204 -0.232595 -0.871622  1.034753
5  0.030502 -1.573633 -0.249461  1.452675
6  0.004839  0.332455 -1.710617  0.926712
7  0.454640 -0.679244 -1.072280 -1.831968
8 -1.914198  0.502551  0.236857  1.494064
9  0.096250 -3.020167 -2.132890  1.015062

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [ ]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01  0.146072  0.966939 -0.483866
2000-01-02 -0.301393 -0.235599 -0.291576
2000-01-03  0.763213  0.086616  0.607997
2000-01-04 -0.164010 -0.422640 -0.338078
2000-01-05  1.414892 -1.146976  0.355322
2000-01-06  0.448006  0.826819 -0.320917
2000-01-07 -1.299619 -1.786811 -2.381874
2000-01-08  0.172000  0.008814  0.241587

In [ ]:
df1* 10 + 2

           A          B          C          D
0   0.822999   9.881489   9.769477  -9.596196
1   8.044527  -2.878058  15.569265   2.084481
2  -6.865170   2.449487   2.238184  23.741809
3   7.672145  11.023680   3.354615   1.480795
4  -3.749036   7.555543   1.053260   0.751332
5   1.128016  -5.854845   7.274863   4.930555
6   0.871390  13.206037  -7.336697  -0.329076
7   5.369398   3.089045  -0.953321 -27.915874
8 -18.318978  14.906997  12.138047   5.344443
9   1.785502 -20.320177 -11.559426   0.554421

In [ ]:
1/df1

In [ ]:
df1**5

- Boolean operators work as well:

In [ ]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [121]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1&df2

       a      b
0  False  False
1  False   True
2   True  False

In [124]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [125]:
df1^df2

       a      b
0   True   True
1   True  False
2  False   True

In [126]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

In [127]:
(df1 | df2) ^ (-df2 ^ df1)

       a      b
0   True   True
1   True  False
2  False   True

Added example of applying a logical statement to the dataframe object.

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [128]:
# only show the first 4 rows
df[:4].T

          0         1         2         3
A  0.835661  0.226795  0.624621  0.050395
B  0.082144 -0.983395 -0.425537  0.360166
C  0.785283 -0.906135  1.370645  1.699884
D -0.689031 -1.068789 -1.238953 -0.513537

In [129]:
df[0:2].T

          0         1
A  0.835661  0.226795
B  0.082144 -0.983395
C  0.785283 -0.906135
D -0.689031 -1.068789

Added example of using the transpose attribute to show only the first two rows.